article, aside, figure, footer, header, main, nav, section { 
    display: block; 
}

input {
    background-position: 0% 50%;
    background-repeat: no-repeat;
    padding-left: 15px;
}

input:required {
    background-image: url('../images/required.png');
}

input:focus:invalid { 
    background-image: url('../images/invalid.png');
} 

input:focus:valid { 
    background-image: url('../images/valid.png');
}

main > div {
    float: left;
    overflow: hidden;
}

::-moz-selection { 
    background: #484848;
    color: #fff;
} 
::selection { 
    background: #484848; 
    color: #fff; 
}

form {
    …
    background: url(../images/bg-form.png) no-repeat bottom center rgba(0, 0, 0, 0.2);
}
